<!-- Footer -->
<div class="wrapper">
    <footer class="footer">

        <p class="footer__text">&copy; 2016 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>

        <ul class="footer__links">
            <li class="footer__list-item"><a href="http://www.ubuntu.com//legal">Legal information</a><span class="footer__dot"> &#183;</span></li>
            <li class="footer__list-item"><a href="https://github.com/ubuntudesign/snapcraft.io/issues/new">Report a bug on this site</a></li>
        </ul>

    </footer>
</div>
    <!-- jQuery with fallback to the 1.* for old IE -->
    <!--[if lt IE 9]>
        <script src="https://assets.ubuntu.com/v1/b66ed708-jquery-1.11.0.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
        <script src="https://assets.ubuntu.com/v1/98884258-jquery-2.1.0.min.js"></script>
    <!--<![endif]-->

<script src="js/jquery.responsiveTabs.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('#responsive-tabs').responsiveTabs({
            startCollapsed: true,
            setHash: true,
            scrollToAccordion: true,
        });
    });
</script>

<script src="js/mediabox.js"></script>
<script>
MediaBox('.mediabox');
</script>
