<div class="wrapper">
    <footer class="footer">
      <div class="footer__social right">
        <h3 class="footer__heading">Follow us</h3>
        <ul class="social-list inline-list clearfix">
          <li class="social-list__item">
            <a href="https://twitter.com/snapcraftio" class="social-list__item--twitter">Share on Twitter</a>
          </li>
          <li class="social-list__item">
            <a href="https://plus.google.com/+SnapcraftIo" class="social-list__item--google-plus">Share on Google plus</a>
          </li>
          <li class="social-list__item">
            <a href="https://www.facebook.com/snapcraftio" class="social-list__item--facebook">Share on Facebook</a>
          </li>
        </ul>
      </div>

      {% include footer-legal.html %}
    </footer>
</div>

{% include analytics.html %}

</script>
