<header class="banner global" role="banner">
  <nav role="navigation" class="nav-primary nav-right" id="nav">
    <span id="main-navigation-link"><a href="#main-navigation">
        Jump to site nav</a></span>
    <div class="logo">
      <a href="/">
        <img src="https://assets.ubuntu.com/v1/f8726a25-snapcraft_logotype_hex.svg" alt="Snapcraft">
      </a>
    </div>
    <ul class="not-for-small">
      <li><a href="/create">Create a snap</a></li>
    </ul>
  </nav>
  <div class="nav-toggle">
    <a href="#nav" class="nav-toggle__link open"></a>
    <a href="#" class="nav-toggle__link close"></a>
  </div>
</header>
