  ////
/// @author       Anthony Dillon
/// @link
/// @since        0.0.1
////

/// Page layout styles
/// @group Layout
@mixin docs-wrapper {

  .row.row-hero {
    padding-left: 3rem;
  }

  .row.content {
    padding-top: 20px;
  }

  .wrapper .inner-wrapper {
    max-width: calc(100%);
    padding-left: 240px;
    box-sizing: border-box;
    padding-top: 180px;
  }
  // scss-lint:disable QualifyingElement
  footer.wrapper .inner-wrapper {
    padding-top: 0;
  }
  // scss-lint:enable QualifyingElement

  @media only screen and (max-width: $breakpoint-medium) {

    .wrapper {
      margin-left: 0!important;
    }

    .wrapper .inner-wrapper {
      padding-top: 70px;
    }
  }
}

@media only screen and (min-width: $breakpoint-medium) {

  .wrapper {
    margin-left: 2rem!important;
  }

}

footer.global {
  box-shadow: none!important;
  position: relative;
  z-index: -1;

  .legal {
    padding-top: 1rem;
    padding-left: 1rem;
    border-top: 1px dotted #e6e6e6;
  }

  nav {
    padding-top: 0!important;
  }
}
