.documentation {
    background-color: $white;
    padding: 0;
    display: flex;

    @media only screen and (max-width: $breakpoint-medium) {
        flex-direction: column;
    }

    &__nav {
        $gutter: 20px;
        $button-width: 10px;

        font-size: 1.2em;

        @media only screen and (min-width: $breakpoint-medium) {
            border-right: 1px solid #ccc;
            width: $navigation-width;
            min-width: $navigation-width;
            padding-top: $gutter;
        }

        ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
            padding-right: 0;

            li {
                padding-left: $gutter;
                padding-right: $gutter;

                margin: 0;
                position: relative;

                a {
                    display: block;
                    color: #333;

                    &:hover {
                      color: #e95420;
                      text-decoration: none;
                    }
                }

                &.collapsed ul {
                  display: none;
                }


                &.expanded > ul {
                  display: block;
                }

                &:after {
                  width: $button-width;
                  display: block;
                  position: absolute;
                  top: 0;
                  right: $gutter;
                  cursor: pointer;
                }
                &.collapsed:after {
                  content: '+';
                }
                &.expanded:after {
                  content: '-';
                }
            }
        }

        // & > ul {
        //     & > li {
        //         padding-top: $gutter / 2;
        //         padding-bottom: $gutter / 2;
        //         border-bottom: 1px solid #333;
        //
        //         &.collapsed:after {
        //             content: '';
        //             background-image: url('https://assets.ubuntu.com/v1/04d2075a-chevron_down.svg');
        //         }
        //         &.expanded:after {
        //             content: '';
        //             background-image: url('https://assets.ubuntu.com/v1/f3f43376-chevron_up.svg');
        //         }
        //     }
        // }

        // Top level sections get bottom padding.
        .section {
            padding: 0 0 20px;
            // Subsections & collapsed sections get no padding.
            &.collapsed, .section {
                padding: 0;
            }
        }

        .search-form {
            @include rounded_corners(3px);
            position: relative;
            width: 100%;
            max-width: 100%;
            margin: 0 0 20px 0;
            padding: 0;

            input[type="text"] {
                @include box-shadow(none);
                position: relative;
                background-color: #fff;
                height: 40px;
                border: 1px solid $light-mid-grey;
                padding-left: 35px;
                color: $cool-grey;

                &:focus {
                    border: 1px solid #9D9C9A;
                    outline: none;
                }

                &::-webkit-input-placeholder {
                	color: $cool-grey;
                	font-size: 1em;
                  opacity: 1;
                }
                &:-moz-placeholder {
                	color: $cool-grey;
                	opacity: 1;
                	font-size: 1em;
                }
                &::-moz-placeholder {
                	color: $cool-grey;
                	opacity: 1;
                	font-size: 1em;
                }
                &:-ms-input-placeholder {
                	color: $cool-grey;
                	font-size: 1em;
                  opacity: 1;
                }
            }

            button[type="submit"] {
                margin-left: 0;
                position: absolute;
                top: 5px;
                left: 5px;
                height: 30px;
                width: 30px;
                padding: 0;
                line-height: 0;
                -webkit-appearance: none;
                display: block;
                background: transparent;
                background-image: url("../img/icons/search_16.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 16px;
                text-indent: -9999px;
            }
        }

        .versions-nav {
            padding: 1em 0;

            .unavailable {
                text-decoration: line-through;
                color: $warm-grey;
            }

            .label {
                display: block;
                margin-bottom: .5em;
            }

            ul {
                display: inline;
                border-right: 1px solid $light-mid-grey;
                padding-bottom: .2em;

                li {
                    display: inline-block;
                    margin-right: .3em;

                    a {
                        padding: 0;
                        margin: 0;
                        border-bottom: 1px solid $warm-grey;
                        text-decoration: none;
                        line-height: 1.1;
                    }

                    strong {
                      border-bottom: 1px solid $ubuntu_orange;
                    }
                }
            }

            .stable {
                margin-left: .5em;
                border-bottom: 1px solid $warm-grey;
                text-decoration: none;
            }
        }
    }

    .note {
        padding: 20px;
        background-color: #fdf6e7;
        border: 1px solid #eca918;
        border-radius: 2px;
        color: inherit;
    }

    &__content {
        padding: 10px;

        @media only screen and (min-width: $breakpoint-medium) {
            padding: 20px 40px;
        }

        iframe {
            margin: 0.25em 0 1em 0;
            width: 100%;
        }

        dl+h2 {
          margin-top: .563em;
        }

        dl+p {
          margin-top: .75em;
        }

        dt {
          margin: 1em 0 0.5em;
        }

        pre {
            background-color: $cool-grey;
            border: none;
            color: $mid-grey;

            code {
                margin-bottom: 0;
                color: $mid-grey;
            }
        }
    }

    &__toc {
        min-width: $navigation-width;
        width: $navigation-width;
    }
}

// Make main section fill the vertical space (sticky footer)
.docs {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.docs .wrapper {
  flex: 1;
  display: flex;
  margin: 0;
}

.documentation {
  flex: 1;
}
