.footer {
  padding: 2rem 1rem 1rem;
  font-size: .75rem;

  &__text {
    font-size: .75rem;
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__list-item {
    display: inline-block;
    font-size: .75rem;
  }

  &__dot {
    display: inline-block;
    font-size: 1rem;
    padding: 0 .25rem;
  }

  &__heading {
    color: $warm-grey;
    font-size: 1em;
    letter-spacing: .05em;
    margin-bottom: 0;
    padding-bottom: .75em;
    text-transform: uppercase;
  }

  @media only screen and (max-width: 600px) {

    &__social,
    &__text {
      width: 100%;
    }
  }

  @media only screen and (min-width: $breakpoint-large) {
    padding: 2rem 0 1rem;
  }
}

.footer-wrapper {
  -webkit-box-shadow: inset 0 2px 2px -1px #cdcdcd;
  box-shadow: inset 0 2px 2px -1px #cdcdcd;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
}
