$dark_aubergine: #2c001e;

.hero-row {
  @extend %vf-clearfix;
  background-color: $light-grey;
  border-bottom: none;
  padding-top: 20px;
  padding-bottom: 0;
  
  @media only screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  @media only screen and (min-width: 984px) {
    &__heading {
      margin-top: 2rem;
    }
  }

  .intro {
    font-size: 23px;
    line-height: 1.5;
  }
}
