$dark_aubergine: #2c001e;

.hero-row {
  @extend %vf-clearfix;
  background-color: $light-grey;
  background-image: url('https://assets.ubuntu.com/v1/0a11c33e-meizu-pro5-background.png');
  background-position: center right;
  background-size: cover;
  border-bottom: none;
  padding-top: 20px;
  padding-bottom: 0;

  @media only screen and (min-width: $breakpoint-medium) {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  @media only screen and (min-width: 984px) {
    &__heading {
      margin-top: 2rem;
    }
  }

  .intro {
    font-size: 23px;
    line-height: 1.5;
  }
}
