.inline-logos {
  padding-top: 0;

  .inline-logos__item {
    margin: 0;
    @media only screen and (min-width: $breakpoint-medium) {
      margin-right: 20px;
      margin-bottom: 30px;
    }
  }
}

@media only screen and (min-width: $breakpoint-medium) {
  .inline-logos .inline-logos__image {
    max-height: 90px;
    max-width: 240px;
  }
}

.grid-list {
  h3 {
    margin-top: .2em;
  }
}
