@charset "utf-8";

// Import the vanilla framework - https://github.com/ubuntudesign/vanilla-framework
@import "../node_modules/vanilla-framework/scss/vanilla";

// Run the vanilla framework
@include vanilla;

// Custom options
$site-max-width:   auto;
$navigation-width: 270px;
$light-mid-grey:   #d4d4d4;
$ubuntu_orange:    #dd4814;

@import "helpers";
@import "base";
@import "header";
@import "documentation";
@import "docs-footer";
